<nav class="navbar fixed-top navbar-expand-lg navbar-expand-xm navbar-light bg-dark " style="background-image: linear-gradient(to bottom right,  #3399ff, #cccccc)"  >
  <div class="container-fluid">
      <h3 class="navbar-brand  text-white display-1  mr-5">fundooNotes</h3>
          <h3 class="navbar-text  mr-auto text-white">
             Admin dashboard
          </h3>   
          <button id="logout" class="btn ml-auto  btn-outline-light my-2 " type="submit">Sign out</button> 
  </div>
  
</nav>

<div class="container-fluid " style="margin-top:50px">
 
 <div class="container">
    <div class="row">
      
        <div class="col-sm-5   ml-auto mr-auto"  style="margin-top:70px">
            <div class="row ml-auto mr-auto"  id="services"></div>
        </div>
      </div>
 </div>
    
      <div class="container  mt-5" >
        <div class="card" style="background-image: linear-gradient(to bottom right, #9fbfdf,  #538cc6)">
            <table id="example" class="table table-hover"  style="width:100%; ">
                <thead >
                    <tr>
                        <th>ID</th>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Email</th>
                        <th>Service</th>
                    </tr>
                </thead>
            </table>
        </div>
        
      </div>       
  </div>